[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django = "*"
pillow = "*"
django-crispy-forms = "*"
dj-database-url = "*"
whitenoise = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-tinymce = "*"
signals = "*"

[requires]
python_version = "3.8"
