{% extends "blog/base.html" %} {% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" />
    <div class="media-body">
        <div class="article-metadata">
            <div class="row ml-1">
                <small>
                    <a href="{% url 'category-posts' post.category %}">{{ post.category }} </a>-
                    <span>
                        Posted by
                        <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                    </span>
                    <p>{{ post.published|date:"F d, Y" }}</p>
                </small>
                <div class="text-right ml-auto mr-3">
                    <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'user-posts' post.category %}">+ Join</a>
                </div>
            </div>
            {% if object.author == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.slug %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.slug %}">Delete</a>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content | safe }}</p>
        <br />
        <hr />
        <form action="{% url 'like-post' post.pk %}" method="POST">
            {% csrf_token %} {% if liked %}
            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm">Unlike</button>
            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">
                <span>{{ total_likes }}</span>
                {% if total_likes < 2 %} Like {% else %} Likes {% endif %}
            </button>
            {% else %}
            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">
                <span>{{ total_likes }}</span>
                {% if total_likes < 1 %} Like {% else %} Likes {% endif %}
            </button>
            {% endif %}
        </form>
        <br>
        <hr>
        <h2>Comments...</h2>
        {% if not post.author.comments.all%}
            No Comments Yet...<a href="#">Comment</a>
        {% else %}
            {% for comment in post.comments.all %}
                <strong>
                    {{ comment.name }} - 
                    {{ comment.date_added }}
                </strong>
                <br>
                {{ comment.body }}
                <br>
                <hr>
            {% endfor %}
        {% endif %}
    </div>
</article>
{% endblock content %}
